altgraph==0.17
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
click==7.1.2
colorama==0.4.4
future==0.18.2
iniconfig==1.1.1
isort==5.6.4
lazy-object-proxy==1.4.3
macholib==1.14
mccabe==0.6.1
packaging==20.4
pefile==2019.4.18
pluggy==0.13.1
py==1.9.0
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pylint==2.6.0
pyparsing==2.4.7
PyQt5==5.14.1
PyQt5-sip==12.8.1
pyqt5-tools @ http://permanent.fstab.net/python/wheels/pyqt5_tools-5.14.1.1.6rc1.post173-cp38-cp38-macosx_10_13_x86_64.whl
pytest==6.1.2
python-dotenv==0.15.0
pywin32-ctypes==0.2.0
six==1.15.0
toml==0.10.2
wrapt==1.12.1
